{{extend 'layout.html'}}
<body bgcolor="#E6E6FA">

    <select name="my_menu" id="my_menu" size="1" >
    <option value="7"></option>
	<option value="1">Destination</option>
	<option value="2">Meeting Place</option>
	<option value="3">Time</option>
	<option value="4">Price</option>
</select>
<button type="button" onclick="window.location='/Ridshare/default/index/' + $( '#my_menu' ).val() + ''">Sort</button>

<P><P>
Here are some methods of displaying rides. We really need to modify the css or layout.html, but I just dont know how. Anyhoo,
heres some different ways to lay out the data.
<P><P>
<hr>
<P>Table of available rides: <P></P>
<table border="1">
<tr>
 <td><B>Destination</B></td>
<td><B>Meeting Location</B></td>
<td><B>Departure Time</B></td> 
<td><B>Price</B></td>
    </tr>
{{for r in ride:}}
    <tr>
    <td>{{=A(r.destination, _href=URL('view', args=[r.id]))}}</td>
    <td>{{=r.meeting_location}}</td>
    <td>{{=r.departure_time}}</td>
    <td>{{=r.price}}</td>
    </tr>
{{pass}}
</table>
<P><P><P>
<hr>

<p>{{=A('Add a ride!', _href=URL('add'))}}</p>
