{{extend 'layout.html'}}
<hr>
<select name="my_menu" id="my_menu" size="1" >
    <option value="100">Choose an option!</option>
	<option value="1">Destination</option>
	<option value="2">Meeting Place</option>
	<option value="3">Time</option>
	<option value="4">Price</option>
	<option value="5">Seats</option>
</select>
<button type="button" onclick="window.location='/rideshare/default/index/' + $( '#my_menu' ).val() + ''">Sort</button>


{{=form}}


<!--
	We display our rides in a table, so multiple rides can be displayed in the 
	same format. I want to try putting the rides in a  <div> setup, but it hasnt
	been working out yet. 
-->
<P>Table of available rides: <P></P>
<table border="1">
<tr>
 <td><B>Destination</B></td>
<td><B>Meeting Location</B></td>
<td><B>Departure Time</B></td> 
<td><B>Price</B></td>
<td><B>Seats</B></td>
<td><B>Owner</B></td>
    </tr>
{{for r in ride:}}
    <tr>
    <td>{{=A(r.destination, _href=URL('view', args=[r.id]))}}</td>
    <td>{{=r.meeting_location}}</td>
    <td>{{=r.departure_time}}</td>
    <td>{{=r.price}}</td>
    <td>{{=r.number_of_seats_open}}</td>
        <td>{{=r.owner.first_name}}  {{=r.owner.last_name}}</td>
    </tr>
{{pass}}
</table>
<hr>

<p>{{=A('Add a ride!', _href=URL('add'))}}</p>
