body {
	margin: 0px;
	padding: 0px;
	background: url(images/img01.jpg) repeat-x left top;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a {
	color: #175500;
}

a:hover {
	text-decoration: none;
	color: #FF0000;
}

a img {
	border: none;
}

/* Header */

#header {
	width: 900px;
	height: 130px;
	margin: 0px auto;
	background: #699C4D;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	background: url(images/rideshare.png) no-repeat left top;
	padding-left: 0px;
        padding-right:500px;
        padding-bottom: 70px;
        padding-top: 50px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 {
	padding: 0px 0px 0px 0px;
}

/* Menu */

#menu {
	float: right;
	background: #699C4D;
	margin: 30px 0px 0px 100px;
}

#menu li {
	float: right;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 0px;
	float right;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

/* Page */

#page {
	width: 80%;
	margin: 0px auto;
	padding: 30px 0px;
}

/* Content */

#content {
	float: left;
	width: 100%;
	padding-bottom: 100px;
}

.post {
	margin: 0px 0px 30px 0px;
}

.post .title {
	margin: 0px;
	padding: 0px 0px 5px 0px;
	border-bottom: #BFC9AE solid 1px;
	color: #232F01;
}

.post .title a {
	color: #232F01;
}

.post .entry {
}

.post .meta {
	font-weight: bold;
}

.post .byline {
	margin: 0px;
}

/* Search */

#search {
}

#search form {
	margin-bottom: 1.8em;
	padding: 0px;
}

#search fieldset {
	margin: 0px;
	padding: 0px;
	border: none;
}

#search #s {
	width: 160px;
}

/* Footer */

#footer {
	width: 100%;
	height: 50px;
        margin: 10px auto 0px auto;
	position: relative;
	bottom: 0;
	color: #FFFFFF;
	background: #699C4D;
	clear: both;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}

div.error_wrapper {display:block}
div.error {
    width: 298px;
    background:red;
    border: 2px solid #d00;
    color:white;
    padding:5px;
    display:inline-block;
    background-image: -webkit-linear-gradient(left,#f00,#fdd);
    background-image: -o-linear-gradient(left,#f00,#fdd);
    background-image: -moz-linear-gradient(0deg, #f00, #fdd);
    background-image: linear-gradient(left,#f00,#fdd);
    background-repeat: repeat-y;
}
